{{- define "csp" -}}default-src 'self' https://*.stripe.com{{- end -}}

{{ define "main" }}

<section>
{{ template "dashboard-notice" . }}

{{ if .subscribed }}
    <p class="note">
        Subscription added successfully!
    </p>
{{ end }}

{{ if .unsubscribed }}
    <p class="note">
        Subscription canceled successfully!
    </p>
{{ end }}
</section>

{{ template "dashboard-manage-account" . }}

<section>
    {{ if .subAccount.HasActiveSubscription }}
        <p>
            You currently have an active subscription, giving you full access
            to Padlock Cloud and all of its features!
        </p>
        {{ if eq .action "unsubscribe" }}
        <p class="note">
            Are you sure you want to cancel your subscription? Without an active subscription your access
            will be read-only, which means you won't be able to upload any new data or synchronize changes
            between devices!
        </p>
        <form action="/unsubscribe/" method="POST">
            {{ .csrfField }}
            <button>Cancel Subscription</button>
        </form>
        {{ else }}
            <a href=".?action=unsubscribe">Cancel Subscription</a>
        {{ end }}
    {{ else }}
        {{ if .subAccount.RemainingTrialPeriod }}
        <p class="note">
            <strong>Your trial period ends in {{ .subAccount.RemainingTrialDays }} days.</strong>
            After this period, your access will be read-only, which means you will be able to access
            your existing data on Padlock Cloud but you won't be able to upload any new data or synchronize
            changes between devices. Get a subscription now to get unlimited access to Padlock Cloud!
        </p>
        {{ else }}
        <p class="note">
            <strong>Important: </strong>
            You currently don't have an active subscription which means you
            can access your existing data on Padlock Cloud but you won't be
            able to upload any new data or synchronize changes between devices.
            Get a subscription now to take full advantage of Padlock Cloud!
        </p>
        {{ end }}
        <form action="/subscribe/" method="POST">
            <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="{{ .stripePublicKey }}"
                data-amount="1200"
                data-currency="usd"
                data-name="Padlock Cloud Subscription"
                data-description="Only $1 / Month (Billed Annually)"
                data-image="/static/img/padlock-cloud.svg"
                data-locale="auto"
                data-email="{{ .account.Email }}"
                data-allow-remember-me="false"
                data-label="Get For $1 / Month (Billed Annually)"
                data-panel-label="Pay {{`{{`}}amount{{`}}`}}">
            </script>
        </form>
    {{ end }}
</section>

{{ template "dashboard-manage-devices" . }}

{{ end }}
